{{ ansible_managed | comment }}
[Unit]
Description=Daily Postgres dump archive pull + Tier-2 upload
Documentation=https://github.com/dryvist/ansible-proxmox/tree/main/roles/postgres_standby

[Timer]
OnCalendar={{ postgres_standby_on_calendar }}
Persistent={{ postgres_standby_persistent | ternary('true', 'false') }}

[Install]
WantedBy=timers.target
