{{ ansible_managed | comment }}
[Unit]
Description=Scheduled IPMI power-on of {{ item.name }} (offline-DR wake)
Documentation=ansible role node_scheduled_wake

[Service]
Type=oneshot
EnvironmentFile=/etc/node-scheduled-wake/{{ item.name }}.env
ExecStart=/usr/bin/ipmitool -I lanplus -H {{ item.bmc_host }} -U {{ node_scheduled_wake_bmc_username }} -E chassis power on
