# {{ ansible_managed }}
{% for pool in ntp_pools %}
pool {{ pool }}
{% endfor %}
driftfile /var/lib/chrony/chrony.drift
logdir /var/log/chrony
leapsectz right/UTC
hwtimestamp *
local stratum 10
allow 127.0.0.1
allow ::1
